.feedback-icon {
    position: fixed;
    left: 30px;
    bottom: 50px;
    cursor: pointer;
    z-index: 999;
  }
  
  .feedback-icon svg {
    cursor: pointer;
    height: 120px;
  }
  
  .feedback-icon:hover::after {
    content: "Bấm vào đây để gửi hỗ trợ đến chúng tôi";
    position: absolute;
    top: -70px;
    width: 200px;
    left: 0px;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  