.contract-body-modal {
  .contract-container {
    &__left {
      display: flex;
      flex-direction: column;

      .section-image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px 15px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
      height: fit-content;
    }
  }

  .create-contract-container {
    .sub-title {
      color: gray;
      font-weight: bold;
    }

    .section-form {
      .form-group-material {
        position: relative;

        .form-control {
          border-radius: 8px;
          border: 1px solid #ced4da;
          padding: 20px 16px 4px;
        }

        label {
          top: 6px;
          left: 16px;
          font-size: 12px;
          color: #30333a;
          opacity: 0.7;
          position: absolute;
          pointer-events: none;
          z-index: 2;
        }

        .unit-area {
          position: absolute;
          z-index: 2;
          right: 15px;
          bottom: 5px;
        }

        .form-select {
          position: absolute;
          top: 14px;
          bottom: 0px;
          border: none;
          margin-left: 4px;
          width: 98%;
          height: 60%;
          z-index: 1;
          padding-bottom: 0px !important;
          outline: none;
          -webkit-appearance: none;
        }

        .form-select:focus {
          outline: none;
          box-shadow: none;
        }

       
      }

      .year-select {
        cursor: pointer;

        .react-datepicker-wrapper {
          position: absolute;
          top: 20px;
          left: 15px;

          .react-datepicker__input-container {
            display: flex;
            align-items: center;
          }

          svg {
            padding: 0px !important;
          }

          input {
            cursor: pointer;
            padding: 0px 10px 0px 25px;
            outline: none;
            width: 180px;
          }
        }
      }

      .form-title {
        margin-top: 24px !important;
        margin-bottom: 24px !important;
        font-size: 20px;
        line-height: 24px;
        color: #30333a;
      }

      .photo-upload {
        width: 100%;
        border-radius: 8px;
        padding: 24px 46px;
        border: 1px dashed #9fa4aa;
        cursor: pointer;

        img {
          display: block;
          width: 24px;
          height: 24px;
          margin: 0 auto 16px;
          vertical-align: middle;
        }

        .photo-upload-title {
          font-size: 14px;
          line-height: 20px;
          color: #30333a;
          text-align: center;
          margin-bottom: 10px !important;
        }

        p {
          margin: 0;
          font-size: 13px;
          line-height: 18px;
          color: #5f666d;
          text-align: center;
        }
      }

      .photo-uploaded {
        margin-bottom: -8px;

        h4 {
          margin-bottom: 8px;
          font-size: 14px;
          line-height: 20px;
          color: #30333a;
        }

        .list-photo {
          margin: 10px 0px !important;
          padding-left: 0rem !important;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          margin: 0 -4px;
          gap: 15px;
          justify-content: center;

          li {
            padding: 0px !important;
          }

          .photo-item {
            position: relative;
            width: 140px;
            height: 72px;
            border-radius: 4px;
            overflow: hidden;

            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }

            .delete-item {
              cursor: pointer;
              position: absolute;
              top: 4px;
              right: 4px;
              width: 24px;
              height: 24px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #fff;
              padding: 0;
              border: 1px solid #f5f5f7;
              border-radius: 4px;
              box-shadow: 0 8px 16px rgba(28, 30, 34, 0.04);
              font-size: 16px;
              color: #5f666d;
            }
          }
        }
      }

      .error-message {
        font-size: 15px;
        color: red;
      }
    }
  }
}
