.user-header {
  border-bottom: 1px solid #cbcbcd;

  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    border-color: transparent;
  }

  .main__navbar {
    padding: 15px 0px;
    background: white;

    .logo {
      width: 120px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      column-gap: 1.5rem;

      .nav__item {
        color: black;
        text-decoration: none;
        transition: 0.3s;
        cursor: pointer;
        margin-bottom: 0rem;
        position: relative;

        .menu-title {
          color: #333;
          margin-bottom: 5px;
        }

        .dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          display: none;
          background-color: #fff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          .list-dropdown-menu-item {
            text-decoration: none;
            color: gray;
            font-size: 15px;
            padding: 7px 20px;
          }

          .menu-title {
            .menu-title-text {
              padding: 7px 20px;
              font-weight: 500;
            }

            a {
              padding: 7px 20px;
            }
          }
        }
      }

      .nav__item:hover {
        .dropdown-menu {
          display: flex;
          gap: 0.8rem;
          width: fit-content !important;

          .list-dropdown-menu-item:hover {
            background-color: #cbcbcd;
            color: black;
          }

          .menu-title {
            display: flex;
            flex-direction: column;
            width: 200px;

            .menu-title-text {
              margin-bottom: 5px !important;
              color: black;
            }

            a {
              margin-top: 5px;
              text-decoration: none;
              color: gray;
            }

            a:hover {
              background-color: #cbcbcd;
              color: black;
            }
          }
        }
      }

      .separation-line {
        border-right: 2.25px solid #cbcbcd;
        height: 20px;
      }

      .header-button {
        button:first-child {
          margin-right: 10px;
        }

        button:first-child:hover {
          background-color: #cbcbcd;
        }
      }

      .dropdown-header {
        .dropdown-toggle {
          padding: 0px !important;
        }
      }

      .notification-container {
        position: relative;

        .notification-quantity {
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          top: -5px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #dc3545;
          color: white;
          font-size: 12px;
        }

        .header-notification {
          padding: 0px 16px;

          h2 {
            font-size: 20px;
          }
        }

        .notification-list-container {
          overflow-y: scroll;
          max-height: 480px;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .dropdown-item {
            position: relative;

            .new-noti-dot {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #dc3545;
              position: absolute;
              top: 2px;
              left: 12px;
              z-index: 999;
            }

            .card {
              cursor: pointer;
              width: 100%;
              height: fit-content;
              flex-direction: row;
              justify-content: space-between;

              &:hover {
                background-color: #f0f0f0;
                border-radius: 1rem;
              }

              img {
                border-radius: 9999px;
                border: 2px solid #dee2e6;
                width: 48px;
                height: 48px;
              }

              &.d-flex {
                display: flex;
              }

              &.align-items-center {
                align-items: center;
              }
              .w-80 {
                width: 82%;
                height: fit-content;
              }

              p {
                &.text-sm {
                  font-size: 0.875rem;
                  color: #6b7280;
                  word-wrap: break-word;
                  text-wrap: pretty;
                }
                &.text-xs {
                  font-size: 0.75rem;
                  color: #6b7280;
                  word-wrap: break-word;
                  text-wrap: pretty;
                }
              }
            }
          }
        }

        .notification-content {
          width: 400px;

          .option-noti-btn {
            padding: 0px 16px;

            .btn {
              border-radius: 25px;

              &.active {
                background-color: #c65959;
                color: white;
              }

              &:first-child {
                margin-right: 10px;
              }

              &:hover {
                background-color: #c55858a4;
                border-radius: 25px;
              }
            }
          }
        }

        .dropdown-toggle {
          padding: 0px !important;

          &:after {
            display: none !important;
          }
        }

        .bell-container {
          width: 30px;
          height: 30px;
          border: 1px solid #cbcbcd;
          border-radius: 50%;
          outline: none;
          transition: border-color 0.3s ease;

          svg {
            width: 20px;
            height: 20px;
          }

          &:hover {
            border: 1px solid black;
          }
        }
      }
    }
  }

  .avatar-profile {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .item_link {
    text-decoration: none;
    color: black;
    font-size: 13px;
  }

  .label-name {
    display: flex;
    border-bottom: 1px solid #cbcbcd;
    padding-bottom: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      margin-left: 7px;
      font-weight: bold;
    }
  }
}
