* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0rem !important;
}

.webkit-scrollbar {
  overflow-y: scroll;
  scrollbar-color: #ccc #f3f4f7;
  scrollbar-width: thin;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: transparent !important;
}

.modal-90w {
  max-width: 90vw !important;
}